body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.navbar {
    background-color: #1a8ac8;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #156487;
}

header {
    background-color: #1a8ac8;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

h2 {
    color: #1a8ac8;
    font-size: 34px;
}

#historia p{

    font-size: 22px;

}

section {
    padding: 2em;
}

.historia-paciente {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 30px;
}

footer {
    background-color: #1a8ac8;
    color: white;
    text-align: center;
    padding: 1em 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
