*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color:#ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{

    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 8z0px;
    height: 80px;
    padding: 20px;
}
.nav-bar{

    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1a8ac8;
    width: 100%;
}

.nav-bar ul{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.nav-bar ul li a{

   color: white;
   font-size: 22px;
   text-decoration: none;

}

.nav-bar ul li a:hover{

    color: rgb(180, 180, 180);
    font-size: 24px;

 }

/*
Menú de navegacion y lista
display (vista en horizontal),
ancho
relleno
alineacion del texto
bordes redondeados
tamaño de fuente
*/

nav li{
    display:inline-block;
    width:150px;
    padding:6px 10px;
    text-align:center;
    border-radius: 15px;
    font-size:18px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
    padding: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4c9eaf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #029eff;
}
.prog-val{

    width: 250px;
}
